.container-landing {
  margin: 0px;
  padding: 40px;
  /* background-color: rgb(218, 248, 249) */
  background-image: url(https://www.science.org/do/10.1126/science.caredit.adh9593/full/_20230324_careers_lgbtq-1679934748477.jpg);
  min-width: 100vw;
  height: 100vh;
  background-size: cover;
}

.parrafoInd {
  background-color: rgba(246, 248, 248, 0.833);
  text-align: center;
  width: 300px;
  height: auto;
  margin: 3px;
  padding: 3px;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  color: black;
}
