@import url("https://fonts.googleapis.com/css2?family=Kalnia&family=Raleway&family=Titillium+Web:wght@200&display=swap");

.page-container {
  display: flex;
  flex-direction: column;
}

.content-wrap {
  flex: 1;
}
